{% extends 'base.html' %}

{% load static poll_extras crispy_forms_tags %}
{% load countries  %}

{% block content %}
    	<!-- ================ start banner area ================= -->	
	<section class="blog-banner-area" id="blog">
		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center">
					<h1>Shop Single</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Shop Single</li>
            </ol>
          </nav>
				</div>
			</div>
    </div>
	</section>
	<!-- ================ end banner area ================= -->


  <!--================Single Product Area =================-->
	<div class="product_image_area">
		<div class="container">
			<div class="row s_product_inner">
				<div class="col-lg-6">
					<div class="owl-carousel owl-theme s_Product_carousel">
						<div class="single-prd-item">
							<img class="img-fluid"  src="" alt="">
						</div>

						<!-- <div class="single-prd-item">
							<img class="img-fluid" src="{% static 'img/category/s-p2.jpg' %}" alt="">
						</div>
						<div class="single-prd-item">
							<img class="img-fluid" src="{% static 'img/category/s-p3.jpg' %}" alt="">
						</div> -->
					</div>
					
				</div>
				
				<div class="col-lg-5 offset-lg-1">
					<div class="s_product_text">
						<h3>{{product.name}}</h3>
						<h2>${{product.price}}</h2>
						<ul class="list">
							<li><a class="active" href="#"><span>Category</span> : {{product.category.name}}</a></li>
							<li><a href="#"><span>Availibility</span> : In Stock</a></li>
						</ul>
						<p>{{product.description}}.</p>
						
							<div class="container mt-2">
								<div class="row">
											{% for gallery in product.get_gallery_product %}
									
											<div class="col-sm-4 mt-3 my-shadow">
											  <img class="my-gallery {% if forloop.counter == 1  %} active_img {% endif %}" width="100%" height="100%" src="{{gallery.image.url}}" alt="">
											</div>
											
											{% endfor %}
											
								</div>
							  </div>
							  <button class="button primary-btn mt-3 btn-block" id="call_for">call for</button>
					
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--================End Single Product Area =================-->

	<!--================Product Description Area =================-->
	<section class="product_description_area">
		<div class="container">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item active show">
					<a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
				</li>
				{% comment %} <li class="nav-item">
					<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
					 aria-selected="false">Specification</a>
				</li> {% endcomment %}
				
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
					<p>
						{{product.description}}
					</p>
				</div>
				{% comment %} <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
					<div class="table-responsive">
						<table class="table">
							<tbody>
								<tr>
									<td>
										<h5>Width</h5>
									</td>
									<td>
										<h5>{{product.width}}mm</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Height</h5>
									</td>
									<td>
										<h5>{{product.height}}mm</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Depth</h5>
									</td>
									<td>
										<h5>{{product.depth}}mm</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Weight</h5>
									</td>
									<td>
										<h5>{{product.weight}}gm</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Quality checking</h5>
									</td>
									<td>
										<h5>yes</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Freshness Duration</h5>
									</td>
									<td>
										<h5>03days</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>When packeting</h5>
									</td>
									<td>
										<h5>Without touch of hand</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>Each Box contains</h5>
									</td>
									<td>
										<h5>60pcs</h5>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div> {% endcomment %}
				
			</div>
		</div>
	</section>
	<!--================End Product Description Area =================-->

	<!--================ Start related Product area =================-->  
	<section class="related-product-area section-margin--small mt-0">
		<div class="container">
			<div class="section-intro pb-60px">
				<p>Popular Item in the market</p>
				<h2>Top <span class="section-intro__style">Product</span> </h2>
      		</div>
			<div class="row mt-30">
				{% for item1, item2, item3 in top_products %}
				
				<div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
					<div class="single-search-product-wrapper">
						<div class="single-search-product d-flex">
							<a href="{% url 'ecommerce:single-product' item1.slug %}"><img src="{{item1.image.url}}" alt=""></a>
							<div class="desc">
								<a href="{% url 'ecommerce:single-product' item1.slug %}" class="title">{{item1.name}}</a>
								<div class="price">${{item1.price}}</div>
							</div>
						</div>
						<div class="single-search-product d-flex">
							<a href="{% url 'ecommerce:single-product' item2.slug %}"><img src="{{item2.image.url}}" alt=""></a>
							<div class="desc">
								<a href="{% url 'ecommerce:single-product' item2.slug %}" class="title">{{item2.name}}</a>
								<div class="price">${{item2.price}}</div>
							</div>
						</div>
						<div class="single-search-product d-flex">
							<a href="{% url 'ecommerce:single-product' item3.slug %}"><img src="{{item3.image.url}}" alt=""></a>
							<div class="desc">
								<a href="{% url 'ecommerce:single-product' item3.slug %}" class="title">{{item3.name}}</a>
								<div class="price">${{item3.price}}</div>
							</div>
						</div>
						
					</div>
				</div>
				{% endfor %}
				
			</div>
		</div>
	</section>
<script src="{% static 'vendors/jquery/jquery-3.2.1.min.js' %} "></script>

<script>
$(document).ready(function(){
var img_active = $(this).find(".active_img");
var img_active_src = img_active.attr("src")
$('.img-fluid').attr('src',img_active_src) 

});


$('.my-gallery').on('click',  function() {
	var img_active_src = $(this).attr("src")
	$('.img-fluid').attr('src',img_active_src) 
});
  
$("#call_for").click(function () {
$.ajax({
	url: "{% url 'ecommerce:save_order' product.slug %}",
	type: 'get',
	dataType: 'json',
	beforeSend: function () {
	$("#exampleModalCenter").modal("show");
	},
	success: function (data) {
	$("#exampleModalCenter .modal-body").html(data.html_form);
	}
});
});

	
</script>

<div class="modal fade" id="ignismyModal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label=""><span>×</span></button>
			</div>
				
			<div class="modal-body">
					
				<div class="thank-you-pop">
					<img src="http://goactionstations.co.uk/wp-content/uploads/2017/03/Green-Round-Tick.png" alt="">
					<h1>Thank You!</h1>
					<p>Your submission is received and we will contact you soon</p>
					<h3 class="cupon-pop">Your Id: <span>12345</span></h3>
					
				</div>
						
			</div>
			
		</div>
	</div>
</div>		
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<form id="js-client-create-form" class="form-contact contact_form " method="post" novalidate="novalidate">
		{% csrf_token %}
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalCenterTitle">ask for a product</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					
				</div>
				<div class="modal-footer">
					<button type="button" class="button button-contactForm" data-dismiss="modal">Close</button>
					<button type="button" id="button_form" class="button button--active button-contactForm" >Send Message</button>
				</div>
			
			</div>
		</div>

	</form>
</div>
	  
<script>

$("#button_form").on("click", function () {
	console.log("hello word")
	var form = $("#js-client-create-form");
    $.ajax({
      url: "{% url 'ecommerce:save_order' product.slug %}",
      data: form.serialize(),
      type: "post",
      dataType: 'json',
      success: function (data) {
        if (data.form_is_valid) {
			$('#exampleModalCenter').modal('toggle');
			$("#ignismyModal").modal("show");
        }
        else {
          $("#exampleModalCenter .modal-body").html(data.html_form);
        }
      }
    });
    
  });


</script>


	<!--================ end related Product area =================-->  	
{% endblock content %}
    